.vc_custom_1695837870516 {
  margin-bottom: 30px !important;
}
.vc_custom_1695842778580 {
  padding-right: 10% !important;
}
.vc_custom_1695838465756 {
  padding-right: 10% !important;
}
.vc_custom_1695839429071 {
  margin-bottom: 15px !important;
}
.vc_custom_1695839425553 {
  padding-right: 10% !important;
}
.vc_custom_1695839432803 {
  margin-top: 40px !important;
  margin-bottom: 15px !important;
}
.vc_custom_1695839438355 {
  padding-right: 10% !important;
}
.vc_custom_1695839410261 {
  margin-bottom: 15px !important;
}
.vc_custom_1695839419215 {
  padding-right: 10% !important;
}
.vc_custom_1695839454562 {
  margin-top: 40px !important;
  margin-bottom: 15px !important;
}
.vc_custom_1695839636242 {
  padding-right: 10% !important;
}
.vc_custom_1695846277040 {
  margin-bottom: 15px !important;
}
.vc_custom_1695846290457 {
  margin-bottom: 15px !important;
}
.vc_custom_1695846353089 {
  margin-bottom: 15px !important;
}
.vc_custom_1583873259588 {
  margin-bottom: 2% !important;
}
.vc_custom_1604021792315 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important;
}
.vc_custom_1695753030599 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important;
}
.vc_custom_1603987740473 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important;
}
.vc_custom_1695753021750 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important;
}
.vc_custom_1695841877914 {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}
.vc_custom_1647875499889 {
  margin-top: 15px !important;
}

.wpb_animate_when_almost_visible {
  opacity: 1;
}
@media only screen and (min-width: 1000px) {
  body #ajax-content-wrap.no-scroll {
    min-height: calc(100vh - 150px);
    height: calc(100vh - 150px) !important;
  }
}
@media only screen and (min-width: 1000px) {
  #page-header-wrap.fullscreen-header,
  #page-header-wrap.fullscreen-header #page-header-bg,
  html:not(.nectar-box-roll-loaded)
    .nectar-box-roll
    > #page-header-bg.fullscreen-header,
  .nectar_fullscreen_zoom_recent_projects,
  #nectar_fullscreen_rows:not(.afterLoaded) > div {
    height: calc(100vh - 149px);
  }
  .wpb_row.vc_row-o-full-height.top-level,
  .wpb_row.vc_row-o-full-height.top-level > .col.span_12 {
    min-height: calc(100vh - 149px);
  }
  html:not(.nectar-box-roll-loaded)
    .nectar-box-roll
    > #page-header-bg.fullscreen-header {
    top: 150px;
  }
  .nectar-slider-wrap[data-fullscreen='true']:not(.loaded),
  .nectar-slider-wrap[data-fullscreen='true']:not(.loaded) .swiper-container {
    height: calc(100vh - 148px) !important;
  }
  .admin-bar .nectar-slider-wrap[data-fullscreen='true']:not(.loaded),
  .admin-bar
    .nectar-slider-wrap[data-fullscreen='true']:not(.loaded)
    .swiper-container {
    height: calc(100vh - 148px - 32px) !important;
  }
}
#ajax-content-wrap .vc_row.left_padding_8pct .row_col_wrap_12 {
  padding-left: 8%;
}
#ajax-content-wrap .vc_row.right_padding_8pct .row_col_wrap_12 {
  padding-right: 8%;
}
@media only screen and (max-width: 999px) {
  .vc_row.top_padding_tablet_8pct {
    padding-top: 8% !important;
  }
}
@media only screen and (max-width: 999px) {
  .vc_row.bottom_padding_tablet_8pct {
    padding-bottom: 8% !important;
  }
}
.wpb_column.left_margin_-200px {
  margin-left: -200px !important;
}
@media only screen and (max-width: 999px) {
  .wpb_column.top_margin_tablet_-50px {
    margin-top: -50px !important;
  }
}
@media only screen and (max-width: 999px) {
  .wpb_column.left_margin_tablet_-200px {
    margin-left: -200px !important;
  }
}
@media only screen and (max-width: 999px) {
  .wpb_column.bottom_margin_tablet_-50px {
    margin-bottom: -50px !important;
  }
}
.wpb_column.max_width_desktop_1000px {
  max-width: 1000px;
}
@media only screen and (max-width: 999px) {
  body .wpb_column.max_width_tablet_1000px {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 999px) {
  .wpb_column.child_column.top_margin_tablet_0px {
    margin-top: 0 !important;
  }
}
@media only screen and (max-width: 999px) {
  .img-with-aniamtion-wrap.margin_left_tablet_-90px {
    margin-left: -90px !important;
  }
}
.img-with-aniamtion-wrap[data-border-radius='none'] .img-with-animation,
.img-with-aniamtion-wrap[data-border-radius='none'] .hover-wrap {
  border-radius: none;
}
.img-with-aniamtion-wrap[data-max-width='225%'] .inner {
  width: 225%;
  display: block;
}
.img-with-aniamtion-wrap[data-max-width='225%'] img {
  max-width: 100%;
  width: auto;
}
.img-with-aniamtion-wrap[data-max-width='225%'][data-shadow*='depth'] img {
  max-width: none;
  width: 100%;
}
.img-with-aniamtion-wrap[data-max-width='225%']:not(.right) img {
  backface-visibility: hidden;
}
@media only screen and (max-width: 999px) {
  .img-with-aniamtion-wrap[data-max-width='225%'] .inner {
    max-width: 100%;
  }
  .img-with-animation[data-max-width='225%'] {
    max-width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 999px) {
  .img-with-aniamtion-wrap[data-max-width-mobile='110%'] .inner {
    width: 110%;
  }
}
.nectar-highlighted-text[data-color='#e2107b']:not([data-style='text_outline'])
  em {
  background-image: linear-gradient(to right, #e2107b 0, #e2107b 100%);
}
.nectar-highlighted-text[data-color='#e2107b']:not([data-style='text_outline'])
  em.has-link,
.nectar-highlighted-text[data-color='#e2107b']:not([data-style='text_outline'])
  a
  em {
  background-image: linear-gradient(to right, #e2107b 0, #e2107b 100%),
    linear-gradient(to right, #e2107b 0, #e2107b 100%);
}
.nectar-highlighted-text[data-color='#53cbc9']:not([data-style='text_outline'])
  em {
  background-image: linear-gradient(to right, #53cbc9 0, #53cbc9 100%);
}
.nectar-highlighted-text[data-color='#53cbc9']:not([data-style='text_outline'])
  em.has-link,
.nectar-highlighted-text[data-color='#53cbc9']:not([data-style='text_outline'])
  a
  em {
  background-image: linear-gradient(to right, #53cbc9 0, #53cbc9 100%),
    linear-gradient(to right, #53cbc9 0, #53cbc9 100%);
}
.nectar-highlighted-text[data-color='#e6007a']:not([data-style='text_outline'])
  em {
  background-image: linear-gradient(to right, #e6007a 0, #e6007a 100%);
}
.nectar-highlighted-text[data-color='#e6007a']:not([data-style='text_outline'])
  em.has-link,
.nectar-highlighted-text[data-color='#e6007a']:not([data-style='text_outline'])
  a
  em {
  background-image: linear-gradient(to right, #e6007a 0, #e6007a 100%),
    linear-gradient(to right, #e6007a 0, #e6007a 100%);
}
.iconsmind-Wallet:before {
  content: '\f0f9';
}
.iconsmind-Tower-Bridge:before {
  content: '\f0c3';
}
.iconsmind-Loading-3:before {
  content: '\e9a4';
}
.iconsmind-Token:before {
  content: '\f0b7';
}
@media only screen and (max-width: 690px) {
  .img-with-aniamtion-wrap.margin_left_phone_-15px {
    margin-left: -15px !important;
  }
}
@media only screen and (max-width: 690px) {
  #ajax-content-wrap .vc_row.left_padding_phone_0px .row_col_wrap_12 {
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 690px) {
  .wpb_column.child_column.top_margin_phone_4pct {
    margin-top: 4% !important;
  }
}
@media only screen and (max-width: 690px) {
  #ajax-content-wrap .vc_row.right_padding_phone_0px .row_col_wrap_12 {
    padding-right: 0 !important;
  }
}
.screen-reader-text,
.nectar-skip-to-content:not(:focus) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
#top nav > ul > li[class*='button_bordered'] > a:before,
#header-outer.transparent
  #top
  nav
  > ul
  > li[class*='button_bordered']
  > a:before {
  border-radius: 35px;
}

html body[data-header-resize='1'] .container-wrap,
html
  body[data-header-format='left-header'][data-header-resize='0']
  .container-wrap,
html body[data-header-resize='0'] .container-wrap,
body[data-header-format='left-header'][data-header-resize='0'] .container-wrap {
  padding-top: 0;
}
.main-content > .row > #breadcrumbs.yoast {
  padding: 20px 0;
}

.sharing-default-minimal .nectar-love.loved,
body .nectar-social[data-color-override='override'].fixed > a:before,
body
  .nectar-social[data-color-override='override'].fixed
  .nectar-social-inner
  a,
.sharing-default-minimal
  .nectar-social[data-color-override='override']
  .nectar-social-inner
  a:hover {
  background-color: #e1147b;
}
.nectar-social.hover .nectar-love.loved,
.nectar-social.hover > .nectar-love-button a:hover,
.nectar-social[data-color-override='override'].hover > div a:hover,
#single-below-header
  .nectar-social[data-color-override='override'].hover
  > div
  a:hover,
.nectar-social[data-color-override='override'].hover .share-btn:hover,
.sharing-default-minimal
  .nectar-social[data-color-override='override']
  .nectar-social-inner
  a {
  border-color: #e1147b;
}
#single-below-header .nectar-social.hover .nectar-love.loved i,
#single-below-header
  .nectar-social.hover[data-color-override='override']
  a:hover,
#single-below-header
  .nectar-social.hover[data-color-override='override']
  a:hover
  i,
#single-below-header .nectar-social.hover .nectar-love-button a:hover i,
.nectar-love:hover i,
.hover .nectar-love:hover .total_loves,
.nectar-love.loved i,
.nectar-social.hover .nectar-love.loved .total_loves,
.nectar-social.hover .share-btn:hover,
.nectar-social[data-color-override='override'].hover
  .nectar-social-inner
  a:hover,
.nectar-social[data-color-override='override'].hover > div:hover span,
.sharing-default-minimal
  .nectar-social[data-color-override='override']
  .nectar-social-inner
  a:not(:hover)
  i,
.sharing-default-minimal
  .nectar-social[data-color-override='override']
  .nectar-social-inner
  a:not(:hover) {
  color: #e1147b;
}

body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    rgba(252, 185, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
    135deg,
    rgb(238, 238, 238) 0%,
    rgb(169, 184, 195) 100%
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    rgb(254, 205, 165) 0%,
    rgb(254, 45, 45) 50%,
    rgb(107, 0, 62) 100%
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    rgb(255, 245, 203) 0%,
    rgb(182, 227, 212) 50%,
    rgb(51, 167, 181) 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  );
  --wp--preset--gradient--midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),
    6px 6px rgba(0, 0, 0, 1);
  --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
:where(.is-layout-flex) {
  gap: 0.5em;
}
:where(.is-layout-grid) {
  gap: 0.5em;
}
body .is-layout-flow > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}
body .is-layout-flow > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}
body .is-layout-flow > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
body .is-layout-constrained > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}
body .is-layout-constrained > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}
body .is-layout-constrained > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
}
body .is-layout-constrained > .alignwide {
  max-width: var(--wp--style--global--wide-size);
}
body .is-layout-flex {
  display: flex;
}
body .is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}
body .is-layout-flex > * {
  margin: 0;
}
body .is-layout-grid {
  display: grid;
}
body .is-layout-grid > * {
  margin: 0;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
.has-black-color {
  color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-color {
  color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-color {
  color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-background-color {
  background-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-border-color {
  border-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-border-color {
  border-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple
  ) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan
  ) !important;
}
.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange
  ) !important;
}
.has-luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red
  ) !important;
}
.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray
  ) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}
.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}
.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}
.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}
.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}
.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}
.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}
.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}
.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}
.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}
.wp-block-navigation a:where(:not(.wp-element-button)) {
  color: inherit;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
.wp-block-pullquote {
  font-size: 1.5em;
  line-height: 1.6;
}

.wp-block-button__link {
  color: #fff;
  background-color: #32373c;
  border-radius: 9999px;
  box-shadow: none;
  text-decoration: none;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  font-size: 1.125em;
}
.wp-block-file__button {
  background: #32373c;
  color: #fff;
  text-decoration: none;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
.wp-container-core-columns-layout-1.wp-container-core-columns-layout-1 {
  flex-wrap: nowrap;
}
.wp-container-core-columns-layout-2.wp-container-core-columns-layout-2 {
  flex-wrap: nowrap;
}
.wp-container-core-columns-layout-3.wp-container-core-columns-layout-3 {
  flex-wrap: nowrap;
}
.wp-container-core-columns-layout-4.wp-container-core-columns-layout-4 {
  flex-wrap: nowrap;
}
.wp-container-core-columns-layout-5.wp-container-core-columns-layout-5 {
  flex-wrap: nowrap;
}
.wp-container-core-columns-layout-6.wp-container-core-columns-layout-6 {
  flex-wrap: nowrap;
}
.wp-container-core-columns-layout-7.wp-container-core-columns-layout-7 {
  flex-wrap: nowrap;
}
